@import '../node_modules/bootstrap/scss/bootstrap.scss';
  /* Color Theme Swatches in Hex */
  .ui-colors-primary { color: #7845BF; }
  .ui-colors-primary-light { color: #B284BF }
  .ui-colors-primary-dark { color: #231640; }
  .ui-colors-secondary { color: #4B3A8C; }
  .ui-colors-disabled { color: #2A2740; }
  .ui-colors-dark { color: #0D0D0D; }

  .ui-colors-bg-primary { background-color: #7845BF; }
  .ui-colors-bg-primary-light { color: #B284BF }
  .ui-colors-bg-primary-dark { background-color: #231640; }
  .ui-colors-bg-secondary { background-color: #4B3A8C; }
  .ui-colors-bg-disabled { background-color: #2A2740; }
  .ui-colors-bg-dark { background-color: #0D0D0D; }

  $var-primary-color: #7845BF; 
  $var-primary-light: #B284BF ;
  $var-primary-dark: #231640; 
  $var-secondary: #4B3A8C; 
  $var-disabled: #2A2740; 
  $var-dark: #0D0D0D; 
  
  /* Color Theme Swatches in RGBA 
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-1-rgba { color: rgba(119, 68, 191, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-2-rgba { color: rgba(34, 21, 63, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-3-rgba { color: rgba(75, 57, 140, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-4-rgba { color: rgba(42, 38, 63, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-5-rgba { color: rgba(12, 12, 12, 1); }
  
  /* Color Theme Swatches in HSLA 
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-1-hsla { color: hsla(264, 48, 51, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-2-hsla { color: hsla(258, 49, 16, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-3-hsla { color: hsla(253, 41, 38, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-4-hsla { color: hsla(247, 24, 20, 1); }
  .Wet-asphalt,-reflection-of-neon-lights,-a-searchlight,-smoke.-Abstract-light-in-a-dark-empty-street-with-smoke,-smog.-Dark-background-scene-of-empty-street,-night-view,-night-city.-5-hsla { color: hsla(0, 0, 5, 1); }. 
  */

  /* Color Theme Swatches in Hex */
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-1-hex { color: #B284BF; }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-2-hex { color: #4E3473; }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-3-hex { color: #5450BF; }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-4-hex { color: #4946A6; }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-5-hex { color: #1B1D40; }

/* Color Theme Swatches in RGBA */
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-1-rgba { color: rgba(178, 131, 191, 1); }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-2-rgba { color: rgba(77, 51, 114, 1); }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-3-rgba { color: rgba(84, 80, 191, 1); }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-4-rgba { color: rgba(72, 69, 165, 1); }
.dark-blue-and-purple-empty-brick-wall-texture-pattern-with-bright-spotlights-neon-tubes-and-laser-beams-empty-scene-background-products-display-and-presentation-5-rgba { color: rgba(26, 28, 63, 1); }



body{
  font-family: "Manrope";
  color:white;
  background-color: $var-disabled;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: $var-primary-light;
}

.avatar{
  border-radius: 50%;
  height: 320px;
  width: 240px;
  box-shadow: 0px 1px 79px 10px rgba(178,131,191,0.81);
  -webkit-box-shadow: 0px 1px 79px 10px rgba(178,131,191,0.81);
  -moz-box-shadow: 0px 1px 79px 10px rgba(178,131,191,0.81);
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.projects-mini-image {
  width: 220px;
  height: 120px;
}

.btn-gradient {
  background: linear-gradient($var-primary-color, $var-primary-color ) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.gradient-layout-rounded {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border-radius: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-grad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  margin: 10px;
  padding: 20px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 5px #eee;
  border-radius: 30px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad-black {
  background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
  margin: 10px;
  padding: 20px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 2px #eee;
  border-radius: 30px;
  display: block;
}

.btn-grad-black:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.text-left {
  text-align: left;
}
